.items-table {
    margin: 0 10px 0 10px;
}

.items-table-title {
    font-size: 18px;
    margin-left: 10px;
}

.prop-col {
    width: 36px;
}

.col-header {
    color: #2E2EFE;
}

tr th {
    background-color: #FBEFFB;
}

.ref {
    cursor: pointer;
}


/* --------------------   bootstrap overrides ---------------------------- */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src:
        url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.navbar-brand {
    color: #8A084B !important;
}

.navbar-default .navbar-nav > li > a {
    color: #086A87;
}

.container {
    padding: 0 1px 0 1px;
    width: 100%;
}

.fixed-table-container {
    border: none;
}

.panel-heading {
    padding: 4px;
}

.panel-heading .navbar-form {
    padding: 0 0;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.panel-info > .panel-heading {
    background-color: #81BEF7;
}

.table-bordered {
    border: none;
}

.pagination {
    margin: 10px 0 10px 0;
}

.glyphicon-plus, .glyphicon-remove {
    font-size: 1em;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.btn-glyphicon {
    padding:8px;
    background: #C9D9C9;
    margin-right:4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}

.btn-success {
    background-color: #04B486;
}