.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 0;
}

.panel-body {
    padding: 0;
}

.table-bordered {
    border: none;
}

.table {
    margin-bottom: 0;
}

.pagination {
    margin-bottom: 0;
    margin-top: 0;
}

.panel-footer {
    border-top: none;
}

.col, .panel-title {
    line-height: 30px;
}

.actions-box {
    visibility: hidden;
}

tr:hover {
    cursor: pointer;
}

tr:hover .actions-box {
    visibility: visible;
}