.edit-card {
    border: 1px solid #0489B1;
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 45px;
}

.edit-card-title {
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid #0489B1;
  padding-bottom: 7px;
  margin-bottom: 0;
  background-color: #0489B1;
  color: white;
}

.card-body {
  padding: 25px;
}

.card-normal {
  color: #08298A;
}

.card-new {
  color: #2E64FE;
}

.card-params {
  padding: 0 25px 20px 25px;
  font-weight: bold;
}

.card-status {
  float: right;
  padding-right: 7px;
}

.btn-primary {
  color: #2e6da4;
  background-color: transparent;
}

.add-elem {
  margin-left: 25px;
  margin-bottom: 30px;
}


.form-control {
  display: inline; 
}